<article class="home__main__article">
    <img src="/images/<%= product.image %>" alt="Imagen phone 1">
    <div class="home__main__article--description">
        <h4><%= product.name %></h4>
        <p><%= product.description %></p>
        <a href="">ver más</a>
    </div>

</article>